.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background-image:url("../assets/medical-bg.jpg");

background-size:cover;

background-position:center;

}

.login-card{

width:360px;

padding:40px;

background:rgba(255,255,255,0.15);

backdrop-filter:blur(12px);
-webkit-backdrop-filter:blur(12px);

border-radius:15px;

box-shadow:0 20px 40px rgba(0,0,0,0.3);

display:flex;

flex-direction:column;

gap:15px;

color:white;

text-align:center;

animation:fadeIn 1s ease;

}

.login-card input{

padding:12px;

border:none;

border-radius:6px;

}

.login-card button{

padding:12px;

border:none;

border-radius:8px;

background:linear-gradient(90deg,#00c6ff,#0072ff);

color:white;

font-weight:bold;

cursor:pointer;

}

.login-card button:hover{

transform:scale(1.05);

}

@keyframes fadeIn{

from{opacity:0;transform:translateY(30px)}

to{opacity:1;transform:translateY(0)}

}